@import "config";

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: .8px solid rgba(#d9d9d9, .9);

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;

    p {
      text-align: center;
      word-spacing: 4px;
    }

    details {
      padding: 1rem;
      border-bottom: 1px solid $secondary-color;

      summary {
        position: relative;

        &::after {
          content: " ";
          width: 10px;
          height: 10px;
          position: relative;
          right: 1rem;
          top: 0;
        }
      }

      summary::-webkit-details-marker {
        display: none !important;
      }
    }

  }
}