.hero {
  min-height: 50vh;

  display: grid;
  grid-template-areas:
    'title'
  'details'
  'image';
  grid-template-columns: repeat(1, 1fr);
  place-content: center;
  gap: 1.6rem;
  padding-inline: 1rem;
  padding-block-start: 1rem;

  border-bottom: .8px solid rgba(#d9d9d9, .9);

  & > section {
    width: 100%;
    text-align: center;
  }

  &__Title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 400;
    }

    .pinkLine {
      width: 115px;
      height: 7px;
      align-self: flex-end;
      -webkit-transform: translateX(-17px);
      -moz-transform: translateX(-17px);
      -ms-transform: translateX(-17px);
      -o-transform: translateX(-17px);
      transform: translateX(-17px);
    }
  }

  &__Details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      width: 15ch;
      word-spacing: 3px;
      letter-spacing: 2px;

      span > img {
        vertical-align: middle;
      }

      span > img.chain {
        width: 32.8px;
        height: 32.8px;
      }

      span > img.explosion {
        width: 22.12px;
        height: 22.12px
      }
    }

    p {
      width: 37ch;
      font-size: 1rem;
      line-height: 1.6;
      letter-spacing: 2px;
      margin-block: .7rem;
    }

    button {
      padding: 10px 15px;
      border: none;
      font: inherit;
      color: white;
      min-width: 152px;
      border-radius: 4px;
    }
  }

  &__image {
    grid-area: image;
    position: relative;
    overflow: hidden;
    opacity: 80%;

    img {
      width: 100%;
    }

    img.networkMesh {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}