@import "config";

.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  border-bottom: .8px solid rgba(#d9d9d9, .9);
  background: url("../images/Purple-Lens-Flare-PNG MObile.png") no-repeat, url("../images/Purple-Lens-Flare-right.png") no-repeat;
  background-position: 0px -39px, 0px -70%;
  //background: url("../images/Purple-Lens-Flare-PNG MObile.png") no-repeat ;
  //  background-position: 0px -39px;

  .text {
    h2, p {
      text-align: center;
    }

    h2 {
      margin-block: 1rem;
    }

    p {
      word-spacing: 5px;
      line-height: 1.6;
    }
  }
}