* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Display", sans-serif;
}

.text--primary {
  color: #D434FE !important;
}

.text--primary--dark {
  color: #b901e9;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-family: ClashDisplay-Variable, sans-serif;
}

.button-gradient, .navbar__links.open li button {
  background: linear-gradient(to right, #943AFF, #D434FE, #FF26B9, #FE34B9);
}

.hero {
  min-height: 50vh;
  display: grid;
  grid-template-areas: "title" "details" "image";
  grid-template-columns: repeat(1, 1fr);
  place-content: center;
  gap: 1.6rem;
  padding-inline: 1rem;
  padding-block-start: 1rem;
  border-bottom: 0.8px solid rgba(217, 217, 217, 0.9);
}
.hero > section {
  width: 100%;
  text-align: center;
}
.hero__Title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__Title h2 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
}
.hero__Title .pinkLine {
  width: 115px;
  height: 7px;
  align-self: flex-end;
  -webkit-transform: translateX(-17px);
  -moz-transform: translateX(-17px);
  -ms-transform: translateX(-17px);
  -o-transform: translateX(-17px);
  transform: translateX(-17px);
}
.hero__Details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__Details h2 {
  width: 15ch;
  word-spacing: 3px;
  letter-spacing: 2px;
}
.hero__Details h2 span > img {
  vertical-align: middle;
}
.hero__Details h2 span > img.chain {
  width: 32.8px;
  height: 32.8px;
}
.hero__Details h2 span > img.explosion {
  width: 22.12px;
  height: 22.12px;
}
.hero__Details p {
  width: 37ch;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 2px;
  margin-block: 0.7rem;
}
.hero__Details button {
  padding: 10px 15px;
  border: none;
  font: inherit;
  color: white;
  min-width: 152px;
  border-radius: 4px;
}
.hero__image {
  grid-area: image;
  position: relative;
  overflow: hidden;
  opacity: 80%;
}
.hero__image img {
  width: 100%;
}
.hero__image img.networkMesh {
  position: absolute;
  top: 0;
  left: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Display", sans-serif;
}

.text--primary {
  color: #D434FE !important;
}

.text--primary--dark {
  color: #b901e9;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-family: ClashDisplay-Variable, sans-serif;
}

.button-gradient, .navbar__links.open li button {
  background: linear-gradient(to right, #943AFF, #D434FE, #FF26B9, #FE34B9);
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: 0.8px solid rgba(217, 217, 217, 0.9);
}
.intro .text h2, .intro .text p {
  text-align: center;
}
.intro .text h2 {
  margin-block: 1rem;
}
.intro .text p {
  word-spacing: 5px;
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Display", sans-serif;
}

.text--primary {
  color: #D434FE !important;
}

.text--primary--dark {
  color: #b901e9;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-family: ClashDisplay-Variable, sans-serif;
}

.button-gradient, .navbar__links.open li button {
  background: linear-gradient(to right, #943AFF, #D434FE, #FF26B9, #FE34B9);
}

.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: 0.8px solid rgba(217, 217, 217, 0.9);
}
.rules .text h2, .rules .text p {
  text-align: center;
}
.rules .text h2 {
  margin-block: 1rem;
}
.rules .text p {
  word-spacing: 5px;
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Display", sans-serif;
}

.text--primary {
  color: #D434FE !important;
}

.text--primary--dark {
  color: #b901e9;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-family: ClashDisplay-Variable, sans-serif;
}

.button-gradient, .navbar__links.open li button {
  background: linear-gradient(to right, #943AFF, #D434FE, #FF26B9, #FE34B9);
}

.judging {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: 0.8px solid rgba(217, 217, 217, 0.9);
}
.judging .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.judging .text h2, .judging .text ul {
  text-align: center;
}
.judging .text ul > li {
  margin: 1.3rem;
  list-style-type: none;
  line-height: 1.5;
}
.judging .text ul > li span {
  margin-right: 10px;
}
.judging .text button {
  border: none;
  border-radius: 4px;
  padding: 15px 18px;
  color: white;
  font: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Display", sans-serif;
}

.text--primary {
  color: #D434FE !important;
}

.text--primary--dark {
  color: #b901e9;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-family: ClashDisplay-Variable, sans-serif;
}

.button-gradient, .navbar__links.open li button {
  background: linear-gradient(to right, #943AFF, #D434FE, #FF26B9, #FE34B9);
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: 0.8px solid rgba(217, 217, 217, 0.9);
}
.faq .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.faq .text p {
  text-align: center;
  word-spacing: 4px;
}
.faq .text details {
  padding: 1rem;
  border-bottom: 1px solid #903aff;
}
.faq .text details summary {
  position: relative;
}
.faq .text details summary::after {
  content: " ";
  width: 10px;
  height: 10px;
  position: relative;
  right: 1rem;
  top: 0;
}
.faq .text details summary::-webkit-details-marker {
  display: none !important;
}

body {
  font-family: ClashDisplay, sans-serif !important;
  background-color: #150e28;
  color: white;
}

@keyframes flip-down {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3rem;
  padding-block: 1.5rem;
  width: 100%;
  position: relative;
  border-bottom: 0.8px solid rgba(217, 217, 217, 0.9);
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navbar__links {
  display: none;
  position: absolute;
  top: 0;
  list-style-type: none;
  transition: all 0.7s ease-in-out;
}
.navbar__links .closeBtn {
  display: none;
}
.navbar__links.open {
  background-color: #150e28;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  gap: 10px;
  font-size: 1.3rem;
  animation: flip-down 0.5s;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-inline: clamp(3rem, 200px, 4rem);
  height: 100vh;
  z-index: 2;
}
.navbar__links.open .closeBtn {
  display: block;
  cursor: pointer;
  place-self: flex-end;
}
.navbar__links.open li button {
  border: 1px solid transparent;
  font: inherit;
  padding: 10px 15px;
  color: white;
  width: 200%;
  border-radius: 4px;
}
.navbar .sidebar-activator {
  border: none;
  background: transparent;
  cursor: pointer;
}

#detail {
  height: 200vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Display", sans-serif;
}

.text--primary {
  color: #D434FE !important;
}

.text--primary--dark {
  color: #b901e9;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-family: ClashDisplay-Variable, sans-serif;
}

.button-gradient, .navbar__links.open li button {
  background: linear-gradient(to right, #943AFF, #D434FE, #FF26B9, #FE34B9);
}

/*# sourceMappingURL=main.css.map */
