* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Display", sans-serif;
}

p, span {
  font-family: "Montserrat", sans-serif;
}

.text--primary {
  color: #D434FE !important;
}

.text--primary--dark {
  color: #b901e9;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-family: ClashDisplay-Variable, sans-serif;
}

.button-gradient, .navbar__links.open li button {
  background: linear-gradient(to right, #943AFF, #D434FE, #FF26B9, #FE34B9);
}

.hero {
  min-height: 50vh;
  background: url("../images/Purple-Lens-Flare-PNG MObile.png") no-repeat center left;
  background-size: 29rem;
  display: grid;
  grid-template-areas: "title" "details" "image";
  grid-template-columns: repeat(1, 1fr);
  place-content: center;
  gap: 1.6rem;
  padding-inline: 1rem;
  padding-block-start: 1rem;
  border-bottom: 0.8px solid rgba(217, 217, 217, 0.9);
  position: relative;
}
.hero > section {
  width: 100%;
  text-align: center;
}
.hero__Title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__Title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
}
.hero__Title .pinkLine {
  width: 115px;
  height: 7px;
  align-self: flex-end;
  transform: translateX(-51%);
}
.hero__Details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero__Details .lightBulb {
  width: 23px;
  height: auto;
  position: absolute;
  top: -16px;
  right: 26%;
  z-index: 1;
}
.hero__Details h2 {
  width: 15ch;
  word-spacing: 3px;
  letter-spacing: 2px;
  font-size: 2rem;
  line-height: 1.6;
}
.hero__Details h2 span > img {
  vertical-align: middle;
}
.hero__Details h2 span > img.chain {
  width: 32.8px;
  height: 32.8px;
}
.hero__Details h2 span > img.explosion {
  width: 22.12px;
  height: 22.12px;
}
.hero__Details p {
  width: 37ch;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 2px;
  margin-block: 0.7rem;
  font-family: "Montserrat", sans-serif;
}
.hero__Details button {
  padding: 10px 15px;
  border: none;
  font: inherit;
  color: white;
  min-width: 152px;
  border-radius: 4px;
}
.hero__Details__time {
  font-size: 0.5rem;
}
.hero__Details__time span {
  font-family: "Unica One", cursive;
  font-size: 1.5rem;
}
.hero__image {
  grid-area: image;
  position: relative;
  overflow: hidden;
  opacity: 80%;
}
.hero__image img {
  width: 100%;
}
.hero__image img.networkMesh {
  position: absolute;
  top: 0;
  left: 0;
}
.hero .stars {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hero .stars img {
  position: absolute;
}
.hero .stars .star1 {
  top: 7%;
  left: 17%;
  width: 10px;
  height: 12px;
}
.hero .stars .star2, .hero .stars .star3 {
  width: 6px;
  height: 8px;
  opacity: 80%;
  top: 10%;
  right: 20%;
}
.hero .stars .star3 {
  top: 35%;
  left: 71%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Display", sans-serif;
}

p, span {
  font-family: "Montserrat", sans-serif;
}

.text--primary {
  color: #D434FE !important;
}

.text--primary--dark {
  color: #b901e9;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-family: ClashDisplay-Variable, sans-serif;
}

.button-gradient, .navbar__links.open li button {
  background: linear-gradient(to right, #943AFF, #D434FE, #FF26B9, #FE34B9);
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: 0.8px solid rgba(217, 217, 217, 0.9);
}
.intro .text h2, .intro .text p {
  text-align: center;
}
.intro .text h2 {
  margin-block: 1rem;
}
.intro .text p {
  word-spacing: 5px;
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Display", sans-serif;
}

p, span {
  font-family: "Montserrat", sans-serif;
}

.text--primary {
  color: #D434FE !important;
}

.text--primary--dark {
  color: #b901e9;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-family: ClashDisplay-Variable, sans-serif;
}

.button-gradient, .navbar__links.open li button {
  background: linear-gradient(to right, #943AFF, #D434FE, #FF26B9, #FE34B9);
}

.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: 0.8px solid rgba(217, 217, 217, 0.9);
  background: url("../images/Purple-Lens-Flare-PNG MObile.png") no-repeat, url("../images/Purple-Lens-Flare-right.png") no-repeat;
  background-position: 0px -39px, 100% -70%;
}
.rules .text h2, .rules .text p {
  text-align: center;
}
.rules .text h2 {
  margin-block: 1rem;
}
.rules .text p {
  word-spacing: 5px;
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Display", sans-serif;
}

p, span {
  font-family: "Montserrat", sans-serif;
}

.text--primary {
  color: #D434FE !important;
}

.text--primary--dark {
  color: #b901e9;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-family: ClashDisplay-Variable, sans-serif;
}

.button-gradient, .navbar__links.open li button {
  background: linear-gradient(to right, #943AFF, #D434FE, #FF26B9, #FE34B9);
}

.judging {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: 0.8px solid rgba(217, 217, 217, 0.9);
  background: url("../images/Purple-Lens-Flare-PNG MObile.png") no-repeat, url("../images/Purple-Lens-Flare-right.png") no-repeat;
  background-position: 0px -39px, 100% 120%;
}
.judging .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.judging .text h2, .judging .text ul {
  text-align: center;
}
.judging .text ul > li {
  margin: 1.3rem;
  list-style-type: none;
  line-height: 1.5;
}
.judging .text ul > li span {
  margin-right: 10px;
}
.judging .text button {
  border: none;
  border-radius: 4px;
  padding: 15px 18px;
  color: white;
  font: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Display", sans-serif;
}

p, span {
  font-family: "Montserrat", sans-serif;
}

.text--primary {
  color: #D434FE !important;
}

.text--primary--dark {
  color: #b901e9;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-family: ClashDisplay-Variable, sans-serif;
}

.button-gradient, .navbar__links.open li button {
  background: linear-gradient(to right, #943AFF, #D434FE, #FF26B9, #FE34B9);
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: 0.8px solid rgba(217, 217, 217, 0.9);
}
.faq .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.faq .text h2 {
  text-align: center;
}
.faq .text p {
  text-align: center;
  word-spacing: 4px;
}
.faq .text details {
  padding: 1rem;
  border-bottom: 1px solid #903aff;
}
.faq .text details summary {
  position: relative;
}
.faq .text details summary::after {
  content: " ";
  width: 10px;
  height: 10px;
  position: relative;
  right: 1rem;
  top: 0;
}
.faq .text details summary::-webkit-details-marker {
  display: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Display", sans-serif;
}

p, span {
  font-family: "Montserrat", sans-serif;
}

.text--primary {
  color: #D434FE !important;
}

.text--primary--dark {
  color: #b901e9;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-family: ClashDisplay-Variable, sans-serif;
}

.button-gradient, .navbar__links.open li button {
  background: linear-gradient(to right, #943AFF, #D434FE, #FF26B9, #FE34B9);
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.timeline__container {
  max-width: 90%;
  margin: 1.5rem auto;
  position: relative;
}
.timeline__container::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #D434FE;
  top: 0;
  height: 100%;
  left: 50%;
  margin-left: -3px;
}
.timeline__container .container {
  width: 50%;
  padding: 10px 40px;
  background-color: inherit;
  position: relative;
}
.timeline__container .container::after {
  content: " ";
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
  position: absolute;
  right: -17px;
  top: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px solid #150e28;
  z-index: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Display", sans-serif;
}

p, span {
  font-family: "Montserrat", sans-serif;
}

.text--primary {
  color: #D434FE !important;
}

.text--primary--dark {
  color: #b901e9;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-family: ClashDisplay-Variable, sans-serif;
}

.button-gradient, .navbar__links.open li button {
  background: linear-gradient(to right, #943AFF, #D434FE, #FF26B9, #FE34B9);
}

.prizes {
  display: grid;
  grid-template-areas: "text" "trophy" "prize";
  grid-template-columns: 1fr;
  width: 100%;
  place-content: center;
  gap: 1.5rem;
}
.prizes__text {
  grid-area: text;
  text-align: center;
}
.prizes__text h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.3rem 0;
}
.prizes__text p {
  max-width: 38ch;
}
.prizes__trophy {
  grid-area: trophy;
}
.prizes__prizes {
  grid-area: prize;
}
.prizes img {
  display: block;
  width: 321px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Display", sans-serif;
}

p, span {
  font-family: "Montserrat", sans-serif;
}

.text--primary {
  color: #D434FE !important;
}

.text--primary--dark {
  color: #b901e9;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-family: ClashDisplay-Variable, sans-serif;
}

.button-gradient, .navbar__links.open li button {
  background: linear-gradient(to right, #943AFF, #D434FE, #FF26B9, #FE34B9);
}

.partners {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.partners::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  background-color: #D434FE;
  height: 90%;
}
.partners__container {
  border-radius: 0.3125rem;
  border: 1px solid #D434FE;
  background: rgba(255, 255, 255, 0.01);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding: 2rem;
  gap: 1rem;
  place-content: center;
  position: relative;
}
.partners__container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partners__container div img {
  display: block;
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Display", sans-serif;
}

p, span {
  font-family: "Montserrat", sans-serif;
}

.text--primary {
  color: #D434FE !important;
}

.text--primary--dark {
  color: #b901e9;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-family: ClashDisplay-Variable, sans-serif;
}

.button-gradient, .navbar__links.open li button {
  background: linear-gradient(to right, #943AFF, #D434FE, #FF26B9, #FE34B9);
}

.privacy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.privacyPolicy {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.privacyPolicy > h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
p:not(.privacyPolicy__policy > p) {
  margin-block: 1.5rem;
  width: 38ch;
}
.privacyPolicy__policy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
}
.privacyPolicy__policy P {
  line-height: 2;
  margin-block-end: 2rem;
}
.privacyPolicy__policy h3 {
  text-align: left !important;
  place-self: flex-start;
  font-size: 0.8125rem;
  word-spacing: 2px;
  letter-spacing: 1.6px;
  line-height: 1.75825rem;
  font-weight: 700;
}
.privacyPolicy__policy ul {
  place-self: flex-start;
}
.privacyPolicy__policy ul li {
  list-style-image: url("/public/list terms.png");
  text-align: left;
  width: 24ch;
  margin-block: 1rem;
}
.privacyPolicy__policy button {
  width: 50%;
  padding: 0.86rem;
  border-radius: 0.3125rem;
  border: 1px solid #D434FE;
  font: inherit;
  color: white;
}
.privacyLock {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.privacyLock img {
  width: 100%;
  max-width: 483px;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Display", sans-serif;
}

p, span {
  font-family: "Montserrat", sans-serif;
}

.text--primary {
  color: #D434FE !important;
}

.text--primary--dark {
  color: #b901e9;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-family: ClashDisplay-Variable, sans-serif;
}

.button-gradient, .navbar__links.open li button {
  background: linear-gradient(to right, #943AFF, #D434FE, #FF26B9, #FE34B9);
}

.footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  padding: 4rem;
}
.footer__heading {
  margin-block: 2rem;
}
.footer__heading h2 a {
  color: white;
  text-decoration: none;
}
.footer__heading div span {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 2px solid #D434FE;
}
.footer__links ul {
  list-style: none;
}
.footer__links ul li {
  margin-block: 15px;
}
.footer__links .followUs {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer__links .followUs .socialLinks {
  display: flex;
  gap: 0.6rem;
}
.footer__links .followUs .socialLinks * {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__contacts div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__rights {
  width: 100%;
  text-align: center;
  margin-block: 1rem;
}

body {
  font-family: ClashDisplay, sans-serif !important;
  background-color: #150e28;
  color: white;
}

@keyframes flip-down {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3rem;
  padding-block: 1.5rem;
  width: 100%;
  position: relative;
  border-bottom: 0.8px solid rgba(217, 217, 217, 0.9);
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navbar__links {
  display: none;
  position: absolute;
  top: 0;
  list-style-type: none;
  transition: all 0.7s ease-in-out;
}
.navbar__links .closeBtn {
  display: none;
}
.navbar__links.open {
  background-color: #150e28;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  gap: 10px;
  font-size: 1.3rem;
  animation: flip-down 0.5s;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-inline: clamp(3rem, 200px, 4rem);
  height: 100vh;
  z-index: 2;
}
.navbar__links.open .closeBtn {
  display: block;
  cursor: pointer;
  place-self: flex-end;
}
.navbar__links.open li button {
  border: 1px solid transparent;
  font: inherit;
  padding: 10px 15px;
  color: white;
  width: 200%;
  border-radius: 4px;
}
.navbar .sidebar-activator {
  border: none;
  background: transparent;
  cursor: pointer;
}

#detail {
  height: 200vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Display", sans-serif;
}

p, span {
  font-family: "Montserrat", sans-serif;
}

.text--primary {
  color: #D434FE !important;
}

.text--primary--dark {
  color: #b901e9;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-family: ClashDisplay-Variable, sans-serif;
}

.button-gradient, .navbar__links.open li button {
  background: linear-gradient(to right, #943AFF, #D434FE, #FF26B9, #FE34B9);
}

@media screen and (min-width: 700px) {
  .hero {
    display: grid;
    grid-template-areas: "title title" "details image";
    grid-template-columns: repeat(2, 1fr);
  }
  *:not(.hero__Title) {
    text-align: left !important;
  }
  .hero__Title {
    align-items: flex-end;
  }
  .hero__Title h2 {
    text-align: right !important;
  }
  .intro {
    flex-direction: row;
    gap: 2rem;
  }
  .intro * {
    text-align: left !important;
  }
  .rules {
    flex-direction: row-reverse;
    gap: 2rem;
  }
  .rules * {
    text-align: left !important;
  }
  .judging {
    flex-direction: row;
  }
  .judging .text {
    align-items: flex-start;
  }
  .judging .text h2 {
    padding-inline: 1.3rem;
  }
  .judging * {
    text-align: left !important;
  }
  .faq {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .faq .text {
    width: 50%;
  }
  .faq img {
    width: 50%;
  }
  .prizes {
    grid-template-columns: repeat(2, 1fr);
  }
  .prizes__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .prizes__text p {
    margin: 10px;
  }
  .partners__container {
    width: 70%;
  }
  .privacy {
    flex-direction: row;
    padding-inline: 3rem;
  }
  .privacy * {
    text-align: left;
  }
  .privacyPolicy {
    align-items: flex-start;
    width: 50%;
  }
  .privacyPolicy h2 {
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .privacyLock {
    width: 60%;
  }
  .footer {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer > section:not(.footer__rights) {
    width: 33.33%;
  }
  .footer__rights {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

/*# sourceMappingURL=main.css.map */
